@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@500&display=swap');

* {

    margin: 0;
    box-sizing: border-box;
  
}
  
@font-face {
  
    font-family: 'Marvel';
    src: url(/MCUwiki_MVC/assets/fonts/Marvel.otf);
  
}

.select_none {

    user-select: none;

}

.absolute {

    position: absolute;

}

.flex {

    display: flex;

}

.align-center {

    align-self: center;

}
  
.flex_center {
  
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  
}

.flex_between {

    display: flex;
    justify-content: space-between;

}

.capitalize {

    text-transform: capitalize;

}

a {

    text-decoration: none;

}

header, footer {

    background-color: #D8041A;
    
}

.title_div {

    width: 30%;
    margin: auto;

}

.header_nav {
  
    padding-top: 35px;
  
}

.header_nav ul {

    padding-inline-start: 0px; 

}
  
.header_nav li {
  
    list-style: none;
  
}

.header_nav li:hover {

    text-decoration: underline;

}

.header_nav a {

    padding: 10px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

.header_title {

    text-decoration: none;
  
    color: white;
    text-align: center;
    font-family: 'Marvel';
    font-size: 200px;
  
}
  
.header_description {
  
    color: white;
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;

    font-family: 'Roboto';
  
}

                                                                            /* HOMEPAGE */

.movie_wrapper {

    background-image: url(/MCUwiki_MVC/assets/image/common/background_movie_section.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;
  
}
  
.watcher {
  
    background-image: url(/MCUwiki_MVC/assets/image/common/watcher_opacity_35.png);
    background-repeat: no-repeat;
    background-size: 75%;
  
}

/* SORT BUTTON */

.access_denied_father {

    padding-top: 30px;
    width: 35%;
    margin: auto;
    text-align: center;

}

.search_result_none_father, .search_title_father, .lexique_no_definition_father {

    padding-top: 30px;
    width: 46%;
    margin: auto;
    text-align: center;    

}

.search_title {

    background-color: #DBF2E3;
    padding: 20px;
    border-radius: 10px;
    font-family: 'Roboto';
    color: #2D7345;

}


.access_denied, .search_result_none, .lexique_no_definition {

    background-color: #F7DDDC;
    padding: 20px;
    border-radius: 10px;
    font-family: 'Roboto';
    color: #82322f;

}

.sort_button_div {

    width: 50%;
    margin: auto;
    text-align: center;
  
}
  
.sort_button_div h2 {
  
    color: white;
    padding-top: 30px;

    font-family: 'Roboto';
  
}
  
.sort_button_div button {
  
    margin: 30px 30px;
    padding: 10px 20px;
    font-size: 30px;
    color: white;
    background: none;
    border: 1px solid white;
    border-radius: 10px;

    font-family: 'Quantico';

    transition: 200ms ease-out;
  
}

.button_selected {

    background: #D8041A !important;
    box-shadow: 10px 5px 5px white;

}

.button_not_selected:hover {

    cursor: pointer;
    transform: scale(1.1);
    transition: 200ms ease-in;
    
    box-shadow: 10px 5px 5px white;

}

/* MOVIE CARD */

.card_margin {

    margin: 50px;

}

.movie_card {
    
    border-radius: 10px;
    width: 300px;
    height: 350px;

    background-position: center;
    background-size: cover;

    transition: 200ms ease-out; 

}

.movie_card:hover {

    transform: scale(1.1);
    transition: 200ms ease-in;

    cursor: pointer;
  
}
  
.movie_card_content {

    position: relative;  
    width: 100%;
    height: 350px;
    border-radius: 10px;
  
    text-align: center;
    color: white;
  
    visibility: hidden;
    opacity: 0;
    transform: translateY(100%);
    transition: transform 0.2s, opacity 0.2s, background-color 0.2s;
    
}

.movie_card_content h2 {

    padding: 10px;

}

.card_description, .card_date {

    font-family: sans-serif;

}

.movie_card_content h2 {

    font-family: 'Marvel';
    font-size: 35px;

}

.card_description_img {

    width: 20px;

}

.card_date {

    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;

    font-family: 'Roboto';
}
  
.movie_card:hover > .movie_card_content{
  
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    background-color: rgba(0, 0, 0, 0.75);
  
}

                                                                        /* FILM SERIE PAGE */

.div_image, .div_texte {

    margin: 50px;
    width: 40%;

}

.div_texte h2 {

    font-family: Marvel;
    font-size: 100px;

}

.div_texte {

    font-family: 'Roboto', sans-serif;

}

.movie_page_card_duration_text, .movie_page_card_release_text, .movie_page_streaming {

    font-size: 20px;
    color: grey;

}

.movie_page_card_description_text {

    color: grey;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 25px;

}

.div_texte span {

    color: black;

}

.div_image div {

    width: 500px;
    margin: auto;
    height: 650px;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;

}

.streaming_link_button img {

    width: 150px;
    height: 75px;
    border-radius: 10px;
    margin-left: 20px;

}

.logo_netflix {

    background-color: black;
    padding: 10px;

}

.logo_streaming {

    transition: 200ms ease-out;

}

.logo_streaming:hover {

    transform: scale(1.1);
    transition: 200ms ease-out;

}

.liste_personnage_titre {

    text-align: center;
    font-family: 'Quantico', sans-serif;
    font-size: 35px;

    margin-bottom: 30px;

}

.card_personnage {

    text-align: center;
    margin: 0 25px 25px 25px;

}

.card_personnage_link {

    color: black;
    transition: 300ms ease-out;

}

.card_personnage_link:hover {

    transform: scale(1.1);
    transition: 300ms ease-in;

}

.card_personnage h2 {

    font-family: 'Poppins', sans-serif;
    margin-bottom: 5px;

}

.card_personnage img {

    border-radius: 10px;

}

                                                                    /* PAGE RECHERCHE FILM SERIE*/

.search_div {

    margin-top: 50px;

}

.search_div input {

    margin: 0 10px;
    font-size: 30px;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid black;
    font-family: 'Poppins';

}

.search_div input[type = submit] {

    cursor: pointer;

}

.search_result_div {

    border: 2px solid black;
    width: 75%;
    margin: 50px auto auto auto;
    border-radius: 10px;

    background-image: url(../image/common/background_movie_section.png);
    background-repeat: no-repeat;
    background-size: cover;

}

                                                                        /* LEXIQUE */
                                                                 

.lexique_navbar li {

    list-style: none;
    margin: 20px;
    font-size: 30px;

    font-family: 'Quantico', sans-serif;
    color: black;

    transition: 300ms ease-out;

}

.lexique_navbar li:hover {

    transform: scale(1.75);
    transition: 300ms ease-in;

}

.lexique_navbar a {

    color: black;

}

.lexique_navbar a:hover {

    color: #D8041A;

}

.lexique_no_definition span {

    font-size: 35px;
    color: #682826;

}

.lettre_lexique {

    font-size: 30px;
    font-family: 'Quantico', sans-serif;
    color: #286B8D;

}

.div_definition {

    width: 75%;
    margin: 20px auto;

}

.div_definition h2 {

    font-size: 35px;
    color: #415269;
    text-decoration: underline;
    font-family: 'Poppins';

}

.div_definition p {

    color: #928e8e;
    font-family: 'Poppins';

}

.lexique_title {

    margin-top: 20px;
    font-size: 30px;
    font-family: 'Quantico', sans-serif;
    color: #286B8D;
    text-align: center;

}

                                                                    /* PAGE PERSONNAGE */

.personnage_thumbnail_margin {

    margin: 15px;

}

.page_perso_titre_media {

    font-family: 'Quantico', sans-serif;
    padding: 20px 20px 0 20px;
    font-size: 70px;
    color: #286B8D;

}

.personnage_thumbnail {

    border: 2px solid black;
    padding: 20px;
    border-radius: 10px;

    text-align: center;

}

.personnage_thumbnail img {

    border-radius: 10px;

}

.fil_ariane {

    margin: 10px;
    font-size: 30px;
    font-family: 'Quantico';

}

.fil_ariane a {

    color: black;

}

.fil_ariane a:hover {

    color: #D8041A;

}

.movie_div_page_personnage {

    margin: 20px;

}

/* Affichage Unitaire Personnage */

.personnage_titre {

    font-size: 80px;
    color: #286B8D;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    text-align: center;

}

                                                                    /* ADMIN + DASHBOARD PAGE */

/* ADMIN LOGIN INTERFACE */

.admin_div, .savoir_plus {

    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);

}

/* ADMIN INTERFACE */

.deconnexion {
    
    font-size: 50px;
    padding: 20px;

}

.deconnexion a {

    text-decoration: none;
    color: white;
    font-size: 30px;

}

/* ADMIN BUTTON */

.adminbutton {
    
    width: 75%;
    margin: auto;
    text-align: center;
    padding: 30px;
    
}

.adminbutton button {
    
    font-size: 30px;
    margin: 0 20px;
    padding: 20px 40px;
    border-radius: 10px;
    
}

.confirmation_text {

    text-align: center;

}

#movieform, #serieform, #film_date_fictive, #serie_date_fictive {

    display: none;

}

textarea {

    resize: none !important;

}

.btn_radio_left {

    border-radius: 10px 0 0 10px !important;

}

.btn_radio_right {

    border-radius: 0 10px 10px 0 !important;

}

#movieform input, #serieform input, #movieform textarea, #serieform textarea, .dashboard_form_validate_button,
#admin_login input, #lexiqueform input, #lexiqueform textarea, #lexiqueform button, #lexique_button button,
#deletelexiconform input, #fetchalllexicon input, #personnageform input, #personnageform textarea {

    border-radius: 10px !important;

}

.streaming_availibility_message {

    margin-top: 20px;
    text-align: center;
    font-family: 'Roboto';
    font-size: 30px;

}

#lexiqueform h2, #deletelexiconform h2 {

    font-family: 'Smooch', sans-serif;

}

#delete_lexicon_div {

    display: none;

}

/* Personnage */

.media_display_div {

    height: 300px;
    overflow: auto;

    font-family: 'Quantico', sans-serif;
    font-size: 20px;
}


                                                                /* 404 PAGE */

.error_404_div {

    background-image: url(/mcuwiki_mvc/assets/image/common/gauntlet.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100vh;

    position: relative;

}

.error_404_absolute {

    top: 0;
    left: 0;

}

.error_404_text {

    padding: 100px 0 0 250px;

    color: white;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;

}

.error_404_link_back {

    margin: 375px 0 0 1200px;

    color: white;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;

}

.title_404 {

    font-family: 'Quantico', sans-serif;
    font-size: 200px;

}

.text_404 {

    font-family: 'Smooch Sans', sans-serif;
    font-size: 75px;
    
}

.text_404 a {

    color: rgb(236, 61, 61);
    cursor: pointer;

}

                                                                                /* Footer */

footer {

    color: white;

}

.footer_social_media_title{

    text-align: center;
    font-family: 'Poppins';
    padding-top: 40px;
    text-decoration: underline;

}

.footer_social_media_icons {

    padding: 25px;

}

.footer_social_media_icons a {

    color: white;
    font-size: 50px;
    margin: 0 20px;

}

.footer_social_media_icons a:hover, .footer_mentions_legales a:hover {

    color: #286B8D;
    transition: 300ms ease-in-out;

}

.footer_social_media_icons div, .footer_mentions_legales div {

    transition: 300ms ease-out;

}

.footer_social_media_icons div:hover, .footer_mentions_legales div:hover {

    transform: scale(1.2);
    transition: 300ms ease-in-out;

}

.footer_mentions_legales {

    margin-bottom: 60px;

}

.footer_mentions_legales a {

    font-family: 'Smooch', sans-serif;
    margin: 30px;
    font-size: 30px;
    color: white;

}

.copyright {

    font-family: 'Quantico', sans-serif;

}